@import "./variables";


.div-body {
  background-color: $primary-color;
}
// Swiper Navigation Button Styles
.swiper-button-prev,
.swiper-button-next {
  background-color: $btn-color !important;
  color: white !important;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: -1%;
}

.swiper-button-next {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.swiper-button-prev {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swiper-scrollbar-drag {
  color: $btn-color !important;
}
// mui btn
.css-sghohy-MuiButtonBase-root-MuiButton-root,
.btn {
  background-color: $btn-color !important;
  color:white
}

// Style for the input border using the 'btn' class
.border-btn {
  border: 1px solid $btn-color;
}

.custom-input {
  background-color: #f0f5ff; // Light background color
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}

.skeleton {
  background-color: $skeleton-primary-color;
  border-radius: 10px;
}
