@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circular-std.woff2") format("woff2"),
       url("/fonts/circular-std.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
